.popup-image__content {
    max-width: 80vw;
    max-height: 80vw;
    /*border-radius: 10px;*/
    position: relative;
    box-sizing: border-box;
    padding: object-fit;
  }
  
  @media screen and (max-width: 540px) {
    .popup-image__content {
      width: calc(100% - 60px);
    }
  }